// Default CASino settings

$buttonColor: #08c;
// $buttonSecondaryColor: #c2c2c2;
$logo: image-path("discourse.png");
$logoRetina: image-path("discourse.png");
$logoWidth: 146px;
$logoHeight: 88px;

@import 'casino';