// Default CASino settings

$buttonColor: #650000;
$buttonSecondaryColor: #463C44;
$logo: image-path("winedirect.jpg");
$logoRetina: image-path("winedirect.jpg");
$logoWidth: 146px;
$logoHeight: 88px;

@import 'casino';