// Default CASino settings

$buttonColor: #990000;
// $buttonSecondaryColor: #c2c2c2;
$logo: image-path("vin65.png");
$logoRetina: image-path("vin65.png");
$logoWidth: 146px;
$logoHeight: 88px;

@import 'casino';